<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<!-- In this template the content block can be filled in by child templates. The survey_start.html template extends this base template and fills in the content block with the survey title, instructions, and start button. -->
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>